.container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection {
    display: flex;
    align-items: center;
}

.card {
    border: 1px solid;
    padding: 6px 10px;
    margin: 0 2%;
    width: 250px;
}


.clickArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    visibility: hidden;
}


.dataRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.collections {
    display: flex;
    align-items: flex-start;
}

.backArrow {
    margin-top: 10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5px;
}

.type {
    font-size: var(--subtitle-size);
    color: var(--subtitle-color);
    margin-bottom: 5px;
}


.icon {
    transform: scale(0.7);
}

.label {
    font-weight: var(--label-weight);
    font-size: var(--label-size);
    color: var(--label-color)
}

.addButtons {
    display: flex;
    flex-direction: column;
}

.addPlus {
    margin-bottom: 15px;
    
}

.addCircle {
    
}

.upvotes {
    composes: label;
}

.downvotes {
    composes: label;
}

.user {
    composes: label;
}

.title {
    text-align: left;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .card {
        min-width: 150px;
        max-width: 150px;
    }
}

@media (max-width: 800px) {
    .card {
        min-width: 100px;
        max-width: 100px;
    }

    .icon {
        transform: scale(0.5);
    }

    .type {
        font-size: var(--subtitle-size-small);
    }

    .data {
        margin-bottom: -7px;
    }

    .label {
        font-size: var(--label-size-small)
    }

    .title {
        font-size: 12px;
    }
}