.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 0 20px;
}

.mainSection {
    display: flex;
}

.titleAndStats {
    /* background-color: red; */
    flex: 1
 }

.votes {
    display: flex;
}

.label {
    font-size: var(--label-size);
    font-weight: var(--label-weight);
}

.subtitle {
    font-size: var(--subtitle-size);
    color: var(--subtitle-color)
}

.title {
    font-size: var(--thin-header-size);
    font-weight: var(--thin-header-weight);
}

.by {
    font-weight: 400;
    padding: 0 5px;
}

.middle {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube { 
    flex: 1;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.soundwaveRow {
    height: 50px;
    width: 75%;
    background-color: gray;
}

.musicInfoRow {
    display: flex;
    font-weight: 200;
    font-size: 19px;
    width: 100%;

}

.musicInfo {
    margin-bottom: 40px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicLeft {
    flex: 1;
}

.musicRight {
    flex: 1;
}

.trackInfo {
    margin-bottom: 20px;
}