.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
}

.container {
    margin: 0px 5vw;
    display: flex;
    flex-direction: row;
}
.slot {
    height: 50px;
    width: 50px;
    background-color: rgb(239, 239, 239);
    margin: 0 1vw;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slot::after {
    position: absolute;
    inset: 0;
    content: '';
}

.selected-slot {
    border: solid 3px silver;
}

.slot:hover {
    /* box-shadow: 0 0 10px gray; */
    transform: scale(1.1);
}

.incorrect {
    box-shadow: 0px 0px 6px red;
}