.container {
    width: 30%;
    /* max-height: 100%; */
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    /* background-color: red; */
}

.libraryTabs {
    display: flex;
    width: 90%;
}

.tab {
    border-bottom: 1px solid;
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
    width: 50%;
    /* letter-spacing: 0.08em; */
}

.activeTab {
    composes: tab;
    border-bottom: 3px solid;
    font-weight: 600;
    letter-spacing: 0;
}

.collections {
    width: 100%;
    padding: 20px 10% 30px;
    /* background-color: blueviolet; */
}

.scrollContainer {
    height: 70vh;
    /* background-color: aqua; */
    overflow-y: scroll;
}