

.nav {
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    border-right: 1px solid;
    /* background-color: blue; */
   
}

.accountBox {
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0 20px;
}