.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}






.whole {
  display: flex;
  align-items: stretch;
  width: 100vw;
  min-height: 100%;
  margin: 0;
}

.logo {
    letter-spacing: var(--main-letter-spacing);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
}

.main {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

