@font-face {
  font-family: jost;
  src: url('../fonts/Jost/OpenType/Jost-300-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: jost;
  src: url('../fonts/Jost/OpenType/Jost-400-Book.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: jost;
  src: url('../fonts/Jost/OpenType/Jost-500-Medium.otf') format('opentype');
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'jost','Avenir-Roman', sans-serif;
  /* background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(28,128,119,1) 53%, rgba(21,100,116,1) 60%); */

}

a {
  text-decoration: none;
}

:root {
  --main-letter-spacing: 3pt;
}
