@font-face {
  font-family: jost;
  src: url('../fonts/Jost/OpenType/Jost-200-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: jost;
  src: url('../fonts/Jost/OpenType/Jost-300-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: jost;
  src: url('../fonts/Jost/OpenType/Jost-400-Book.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: jost;
  src: url('../fonts/Jost/OpenType/Jost-500-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: bravura;
  src: url('../fonts/Bravura/Bravura.otf') format('opentype');
}

@font-face {
  font-family: bravura-text;
  src: url('../fonts/Bravura/BravuraText.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%
}
body {
  /* min-height: 100vh;2 */
  /* min-width: 100vw; */
  display: flex;
  height: 100%;
  /* flex-direction: column; */
  align-items: stretch;
  font-family: 'jost','Avenir-Roman', sans-serif;
  margin: 0;


}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:root {
  --main-letter-spacing: 3pt;
  --subtitle-size: 11px;
  --subtitle-size-small: 8px;
  --subtitle-color: rgba(0, 0, 0, 0.6);

  --label-size: 11px;
  --label-size-small: 8px;
  --label-color: rgba(0, 0, 0, 0.6);
  --label-weight: 500;

  --thin-header-weight: 300;
  --thin-header-size: 30px;

  --navbar-height: 70px;
}

h1 {
  font-weight: 300;
  font-size: 28px;
}

h3 {
font-weight: 500;
font-size: 18px;
letter-spacing: -0.02em;
margin: 0;
}
